*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.error{
    color: red;
}

.header-link{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

